/********HEADER**********/
.workheader {
  text-align: center;
}

.workheader span{
  color: #FFF100;
}
.one-half.column.label{
  text-align: center;
}

/****SIGN IN-UP FORM****/

.form-container {
  background: rgba(185, 194, 185, .3);
  padding: 1% 2%;
  width: 25%;
  min-width:300px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  z-index: 2;
  height: auto;
}

h5{
  font-weight: 100;
  font-size: 1.8rem;
  margin-bottom: 1.15rem;
}

form{
  margin-bottom:1.75rem;
}

#signupbutton:hover{
  cursor: pointer;
}
::-webkit-input-placeholder {
   color: #eee;
}

:-moz-placeholder { /* Firefox 18- */
   color: #eee;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;
}

:-ms-input-placeholder {
   color: #eee;
}

input[type=text], input[type=email], input[type=password] {
    width: 90%;
    padding: 10px;
    border:2px solid #ccc;
    border-radius: 5px;
    background: rgba(185, 194, 169, .5);
  }

input[type=submit] {
    margin: .8rem;
    width: 90%;
    padding:10px;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    background:rgba(184, 194, 169, .50);
    box-shadow: 1px 1px 10px 5px  #888888;
}

input[type=submit]:hover {
  background: rgba(185, 194, 169, .80);
  box-shadow: 2px 2px 10px 5px  #888888;
}

.hidden {
  display: none;
}
