<header ng-controller = "HeaderController as header">
  <h1>Work 4 A Day</h1>
  <p>Welcome   {{header.current_user.first_name}}</p>

</header>

<main  ng-controller="PostController as pc" >

<!-- our angular form to create job postings -->
    <form ng-submit ="pc.createJobposting()">
      <input  type="text" placeholder="location"
              ng-model=pc.newJobposting.location>
      <input  type="text" placeholder="title"
              ng-model=pc.newJobposting.title>
      <input  type="text" placeholder="description"
              ng-model=pc.newJobposting.description>
      <label id="newpostinglabel">START DATE</label>
      <input  type="date" placeholder="start date"
              ng-model=pc.newJobposting.start_date>
      <label id="newpostinglabel">START TIME</label>
      <input  type="time" placeholder="start time"
              ng-model=pc.newJobposting.start_time>
      <label id="newpostinglabel">SPECIFY HOURLY DAILY OR PER JOB </label>
      <input  type="text" placeholder="this job pays"
              ng-model=pc.newJobposting.rate_of_pay>
      <input type="submit" value="submit"/>
    </form>
</main>
<section ng-controller= "PostController as pc">
  {{pc.jobposting}}
  <ul>
    <li ng-repeat ="jobposting in pc.jobposting">
      Job Title: {{jobposting.title}}</br>
      Job Description: {{jobposting.description}}</br>
      Job Rate of Pay: ${{jobposting.rate_of_pay}}</br>
      Job Start Date: {{jobposting.start_date}}</br>
      Job Contact Name: {{jobposting.poster_name}}</br>

    </li>
  </ul>
</section>
