<style>
*{
  text-align: center;
}

.workheader span{
  color: #FFF100;
}
</style>

  <div class="container">
    <h1 class="workheader">WORK <span>4</span> A DAY</h1>
    <div class="row">
      <div class="one-half column label">Looking 4 Work</div>
      <div class="one-half column label">Looking 4 Workers</div>
    </div>
    <%if session[:current_user_id]%>
    <div class="row">
      <div class="twelve columns label"><a href="<%session_path%>">log out</a></div>
    </div>
    <%end%>
  </div>
